extends /base.jade
block head
  script.
    UPLOADCARE_PUBLIC_KEY = "99aecfabc8335358700e";
    UPLOADCARE_LOCALE = 'en';
    UPLOADCARE_IMAGES_ONLY = true;
    UPLOADCARE_PREVIEW_STEP = true;
    UPLOADCARE_CLEARABLE = true;
  +css("/css/pack/editor.css")
  +script("/js/pack/editor.js")
  +script("https://ucarecdn.com/libs/widget/3.x/uploadcare.min.js")
  link(rel="stylesheet",href="https://use.typekit.net/efg4kga.css")
  link(href="https://fonts.googleapis.com/css?family=Raleway:400,600,700,900",rel="stylesheet")

  style#page-basic(type="text/css")
    include ../../../static/css/page/basic.css

block body
  a#makeweb(href="/") #[span Powered By] #[img(src="/assets/img/logo.svg")]
  #editor-root.ld-over-full-inverse.running(ng-controller="editor",ng-class="{'ld-over-full-inverse running':loading}")
    .ld(style="margin:0;transform:translate(-50%,-50%)",ng-show="loading")
      .text-center(ng-show="!editor.online.state",ng-cloak)
        small You are currently
        h1 Offline
        .btn.btn-outline-light.btn-sm.mt-4.clickable(ng-click="editor.online.retry()") Reconnect
      .ld.ld-ring.ld-spin(style="font-size:5em",ng-show="loading && editor.online.state")

    include /page/modal/block-config.jade
    include /page/modal/page-config.jade
    include /page/modal/preview.jade
    include /page/modal/export.jade
    include /page/modal/share.jade

    #blocks-picker(ng-controller="blocksPicker",ng-cloak)
      .block-thumb(ng-repeat="block in blocks",ng-attr-base-block="{{block.name}}")
        .thumb.rel(ng-attr-style="background-image:url(/blocks/{{block.name}}/index.jpg);" +
        "padding-bottom:{{block.ratio}}%",ng-attr-name="{{block.name}}",ng-attr-ratio="{{block.ratio}}")
        //-.name {{block.name}}
    #blocks-preview #[.inner] #[.pin] #[.name]
    #editor
      .head(ng-attr-style="width:{{config.size.value}}px")
        .pull-right
          a.btn.btn-text.btn-sm(href="#",ng-click="needlogin('/page/create')") #[i.fa.fa-plus] New
          a.btn.btn-text.btn-sm(href="#",ng-click="needlogin('clone', true)") #[i.fa.fa-clone] Make a Copy
        .pull-left
          small.clickable(ng-show="!user.data",style="margin-top:3px")
            .btn.btn-text.btn-sm(ng-click="auth.isSignIn=false;auth.ctrl.toggle()") Sign Up
            .btn.btn-text.btn-sm(ng-click="auth.isSignIn=true;auth.ctrl.toggle()") Login
          span(ng-show="user.data",ng-cloak)
            .btn-group.clickable
              .btn.btn-text.btn-sm.dropdown-toggle(
              data-toggle="dropdown") #[i.fa.fa-user-circle] {{user.data.displayname}}
              .dropdown-menu
                a.dropdown-item(href="/me/") Dashboard
                .dropdown-divider
                a.dropdown-item(href="#",ng-click="auth.logout()") Logout
            //-.btn.btn-primary.btn-sm(style="padding:2px .5rem") Upgrade
        .text-center
          .btn.btn-text.btn-sm(
          ng-click="pageConfig.toggle()") #[i.fa.fa-cog(style="transform:scale(1.4)")]
          .btn-group(style="vertical-align:top")
            .btn.btn-text.btn-sm.dropdown-toggle(data-toggle="dropdown") {{config.size.name}}
            .dropdown-menu
              a.dropdown-item(href="#",ng-click="config.size.set('Full Screen')") Full Screen
              a.dropdown-item(href="#",ng-click="config.size.set('1024px')") 1024px
              a.dropdown-item(href="#",ng-click="config.size.set('800px')") 800px
              a.dropdown-item(href="#",ng-click="config.size.set('480px')") 480px

      #collaborator-cursors(ng-attr-style="width:{{config.size.value}}px")
        .cursor.ld.ld-breath(ng-repeat="(key, u) in collaborator",
        ng-show="u.cursor && !u.cursor.blur && user.data.key != key",
        ng-attr-class="ld ld-breath cursor color{{1 + ($index % 6)}}",
        ng-attr-style="top:{{(u.cursor.y || 0)}}px;left:{{u.cursor.x}}px;" +
        "width:{{u.cursor.width || 1}}px;height:{{u.cursor.height || 24}}px")

      .inner(ng-attr-style="width:{{config.size.value}}px")
        .placeholder: div
      #editor-style
      #editor-library
      #editor-node-handle
        i.fa.fa-clone
        i.fa.fa-link
        i.fa.fa-trash-o
      #editor-text-handle
        .medium-editor-toolbar.medium-editor-stalker-toolbar.medium-editor-toolbar-active.medium-toolbar-arrow-under
          .medium-editor-toolbar-form.medium-editor-toolbar-form-active
            input.medium-editor-toolbar-input(type="text",placeholder="Paste or type a link")
            a.medium-editor-toolbar-save
            a.medium-editor-toolbar-close

    #collab-info(ng-controller="collabInfo",ng-cloak)
      b Publish
      .sep
      .list
        .item.clickable(ng-click="preview.run()") #[i.fa.fa-eye]Preview
        .item.clickable(ng-click="export.run()") #[i.fa.fa-download]Export
        .item.clickable(ng-click="share.modal.ctrl.toggle()") #[i.fa.fa-link]Share
      +nbr(2)
      b Collaborators
      .sep
      .list
        .item(ng-repeat="(key, u) in collaborator",ng-attr-class="item color{{1 + ($index % 6)}}")
          a(ng-show="!u.guest",ng-attr-href="/user/{{key}}")
            span(ng-attr-class="color{{1 + ($index % 6)}}"): i.fa.fa-user-circle
            span.flcap {{u.displayname}}

          a(ng-show="u.guest")
            span(ng-attr-class="color{{1 + ($index % 6)}}"): i.fa.fa-user-circle
            span.flcap {{u.displayname}}
