extends /base.jade
block head
  script.
    UPLOADCARE_PUBLIC_KEY = "99aecfabc8335358700e";
    UPLOADCARE_LOCALE = 'en';
    UPLOADCARE_IMAGES_ONLY = true;
    UPLOADCARE_PREVIEW_STEP = true;
    UPLOADCARE_CLEARABLE = true;
  +css("/css/pack/editor.css")
  +script("/js/pack/editor.js")
  +script("https://ucarecdn.com/libs/widget/3.x/uploadcare.min.js")
  link(rel="stylesheet",href="https://use.typekit.net/efg4kga.css")
  link(href="https://fonts.googleapis.com/css?family=Raleway:400,600,700,900",rel="stylesheet")

  style#page-basic(type="text/css")
    include ../../../static/css/page/basic.css
  //-include justfont.html

block body
  a#makeweb.short(href="/") #[span Powered By] #[img(src="/assets/img/logo.svg")]
  #editor-root.ld-over-full-inverse.running(ng-controller="editor",
  ng-class="{'ld-over-full-inverse running':loading || crashed}")
    .ld(style="margin:0;transform:translate(-50%,-50%)",ng-show="loading || crashed")
      .text-center(ng-show="crashed",style="text-shadow:0 1px 3px rgba(0,0,0,.5)")
        .huge.bold Oops!
        br
        small Something went wrong... please reload this page
        br
        .btn.btn-outline-light.btn-lg.mt-4.clickable(ng-click="editor.reload()") Reload Now
      .text-center(ng-show="editor.online.code==403 && !crashed",ng-cloak)
        .huge.bold Access Denied
        br
        small why not make one yourself?
        br
        .btn.btn-outline-light.btn-lg.mt-4.clickable(ng-click="needlogin('/page/create', null, {authInPage: true})") Let's do it
      .text-center(ng-show="!editor.online.state && !editor.online.code && !crashed",ng-cloak)
        small You are currently
        .huge.bold Offline
        .btn.btn-outline-light.btn-lg.mt-4.clickable(ng-click="editor.online.retry()") Reconnect
      .ld.ld-ring.ld-spin(style="font-size:5em",ng-show="loading && editor.online.state && !crashed")

    include /page/modal/block-config.jade
    include /page/modal/page-config.jade
    include /page/modal/icon-picker.jade
    include /page/modal/preview.jade
    include /page/modal/export.jade
    include /page/modal/share.jade

    #blocks-picker(ng-controller="blocksPicker",ng-cloak)
      .block-thumb(ng-repeat="block in blocks",ng-attr-base-block="{{block.name}}")
        .thumb.rel(ng-attr-style="background-image:url(/blocks/{{block.name}}/index.png);" +
        "padding-bottom:{{block.ratio}}%",ng-attr-name="{{block.name}}",ng-attr-ratio="{{block.ratio}}")
        //-.name {{block.name}}
    #blocks-preview #[.inner] #[.pin] #[.name]
    #editor.root-block
      .head(ng-attr-style="width:{{config.size.value}}px")
        .pull-right
          small.clickable(ng-show="!user.data.key",style="margin-top:3px")
            .btn.btn-text.btn-sm(ng-click="auth.isSignIn=false;auth.ctrl.toggle()") Sign Up
            .btn.btn-text.btn-sm(ng-click="auth.isSignIn=true;auth.ctrl.toggle()") Login
          span(ng-show="user.data.key",ng-cloak)
            .btn.btn-primary.btn-sm.mr-1(ng-show="!user.data.plan",style="padding:0 6px;font-size:.8em",
            ng-click="subscription.modal.plan.ctrl.toggle()") UPGRADE
            .btn.btn-primary.btn-sm.mr-1(ng-show="user.data.plan",
            style="text-transform:uppercase;padding:0 6px;font-size:.8em") {{user.data.plan.name || 'Upgrade'}}
            .btn-group.clickable
              .btn.btn-text.btn-sm.dropdown-toggle(
              data-toggle="dropdown")
                .avatar.mr-1.sm(ng-attr-style="background-image:url(/s/avatar/{{user.data.key || '0'}}.png)")
                span {{user.data.displayname}}
              .dropdown-menu
                a.dropdown-item(href="/me/") Dashboard
                a.dropdown-item(href="/me/billing/") Billing
                .dropdown-divider
                a.dropdown-item(href="#",ng-click="auth.logout()") Logout
        .pull-left
          a.btn.btn-text.btn-sm(href="#",ng-click="needlogin('/page/create')") #[i.fa.fa-plus] New
          a.btn.btn-text.btn-sm(href="#",ng-click="needlogin('clone', true)") #[i.fa.fa-clone] Make a Copy
        .text-center
          .btn.btn-text.btn-sm(
          ng-click="pageConfig.toggle()") #[i.fa.fa-cog(style="transform:scale(1.4)")]
          .btn-group(style="vertical-align:top")
            .btn.btn-text.btn-sm.dropdown-toggle(data-toggle="dropdown") {{config.size.name}}
            .dropdown-menu
              a.dropdown-item(href="#",ng-click="config.size.set('Full Screen')") Full Screen
              a.dropdown-item(href="#",ng-click="config.size.set('1024px')") 1024px
              a.dropdown-item(href="#",ng-click="config.size.set('800px')") 800px
              a.dropdown-item(href="#",ng-click="config.size.set('640px')") 640px
              a.dropdown-item(href="#",ng-click="config.size.set('480px')") 480px

      #collaborator-cursors(ng-attr-style="width:{{config.size.value}}px")
        .cursor.ld.ld-breath(ng-repeat="(key, u) in collaborator.list",
        ng-show="u.cbox && !u.cbox.blur && (user.data.key != key && user.data.guestkey != key)",
        ng-attr-class="ld ld-float cursor color{{1 + ($index % 10)}}",
        ng-attr-style="top:{{((u.cbox.width && u.cbox.height) || 0) + (u.cbox.y || 0)}}px;" +
        "left:{{u.cbox.x}}px;" +
        "width:{{u.cbox.width || 1}}px;height:{{(u.cbox.width && 1) || u.cbox.height || 24}}px")

      .inner(ng-attr-style="width:{{config.size.value}}px")
        .placeholder: div
      #editor-style
      #editor-css
        link(ng-repeat="url in css.links.list",rel="stylesheet",type="text/css",ng-attr-href="{{url}}")
        style(type="text/css")
      #editor-library
      #editor-node-handle
        i.fa.fa-camera
        i.fa.fa-lock
        i.fa.fa-unlock-alt
        i.fa.fa-align-left.submenu
          i.fa.fa-align-left
          i.fa.fa-align-center
          i.fa.fa-align-right
        i.fa.fa-clone
        i.fa.fa-link
        i.fa.fa-trash-o
      #editor-text-handle
        .medium-editor-toolbar.medium-editor-stalker-toolbar.medium-editor-toolbar-active.medium-toolbar-arrow-under
          .medium-editor-toolbar-form.medium-editor-toolbar-form-active
            input.medium-editor-toolbar-input(type="text",placeholder="Paste or type a link")
            a.medium-editor-toolbar-save
            a.medium-editor-toolbar-close

    #collab-info(ng-controller="collabInfo",ng-cloak)
      b Publish
      .sep
      .list
        .item.clickable(ng-click="preview.run()") #[i.fa.fa-eye]Preview
        //-TODO turn on this after lib versioning is ready
        .item.clickable(ng-click="export.run()") #[i.fa.fa-download]Export #[i.fa.fa-flask(style="color:#ff7a00")]
        .item.clickable(ng-click="share.modal.ctrl.toggle()") #[i.fa.fa-link]Share
      //-
        +nbr(2)
        b Revisions
        .list
          a.item.clickable(href="revisions/", target="_blank") #[i.fa.fa-history] View All
      +nbr(2)
      b Collaborators
      .sep
      .list
        .item.ng-animate-on(ng-repeat="(key, u) in collaborator.list",
          ng-attr-style="animation-delay:{{$index * 0.1}}s",ng-show="$index < 10")
          a(ng-attr-href="/user/{{key}}",ng-attr-class="color{{1 + ($index % 10)}}")
            .avatar.mr-1.sm(ng-attr-style="background-image:url(/s/avatar/{{u.key}}.png)")
            span.flcap {{u.displayname}}
        .item.ng-animate-on(ng-show="collaborator.count > 10") more ...


    #editor-insert-handle.text-center
      .clickable.inline-block: i.fa.fa-picture-o(ng-click="insert.image()",ng-mousedown="editor.cursor.save()")
      .clickable.inline-block(ng-click="insert.button()",ng-mousedown="editor.cursor.save()"): i.fa.fa-external-link-square
      .clickable.inline-block(ng-click="insert.hr()",ng-mousedown="editor.cursor.save()"): .hr
      .clickable.inline-block(style="vertical-align:-1px"): i.fa.fa-plane(ng-click="insert.icon()",ng-mousedown="editor.cursor.save()")
