//- view
doctype html
- var thumbnail = (data.attr.thumbnail ? data.attr.thumbnail + '/-/format/jpg/' :  "https://makeweb.io/assets/img/page/default-thumbnail.jpg")
- var thumbtype = "image/jpeg"
- var thumb_width = "1200"
- var thumb_height = "630"
- var favicon = "/assets/img/favicon.png"
- var title = data.attr.title || "makeweb.io - Real-Time Collaborative Web Design"
- if(data.attr && data.attr.title) { title = data.attr.title + " · makeweb.io" }
- else { title = "makeweb.io - Real-Time Collaborative Web Design" }
- var description = "make and share interactive web pages with people in the intuitive way"
html
  include /mixins/index.jade
  head
    include /module/ga.html
    //- TODO gacode should be checked against injection
    if config.gacode
      script.
        gtag('config', '#{config.gacode}');
    include /module/head.jade
    include justfont.html
    +css("/css/pack/viewer.css")
    +script("/js/pack/viewer.js")
    +css("/blocks/all.min.css")
    +script("/js/pack/viewer.js")
    +script("/blocks/all.js")
    //- TODO it.type should be checked against injection
    script.
      var blockTypes = !{'[' + data.child.map(function(it) { return '"' + it.type + '"'; }).join(',') + ']'};
    if data.css
      if data.css.list
        each url in data.css.list
          link(rel="stylesheet",type="text/css",href=url)
      //- TODO clean data.css.inline by DOMPurify (remove all tags inside since it should be plain text?
      if data.css.inline
        style(type="text/css") #{data.css.inline}
  body(page-slug=id)
    //- TODO clean html code by DOMPurify ( need to escape special tags )
    #viewer-root.page-viewer.root-block(style=(data.style || '') + ';width:auto')
      each block in data.child
        .block-item(id="block-id-#{block.eid}",style="width:100%;" + (block.style || ''),
        class="block-" + block.type,base-block=block.type)
          .inner(style="max-width:1024px;width:96%;margin-left:auto;margin-right:auto;")!= block.content
  a#makeweb(href="/"): .inner.ld.ld-bounce #[span Make Your Own Page with] #[img(src="/assets/img/logo.svg")]
  if !preview
    a#edit-this-page(href="/page/#{id}") #[i.fa.fa-edit]#[br]Edit
  if preview
    div(style="position:fixed;top:50%;left:50%;transform:translate(-50%,-50%);font-size:1em;font-weight:900;opacity:0.2;z-index:999;text-align:center;line-height:.75em;padding:10px 20px;background:#000;color:#fff;border-radius:15px") PREVIEW MODE
  script.
    Array.from(document.querySelectorAll('[contenteditable=true]')).map(function(it) {
      it.setAttribute('contenteditable', false);
    });
    blocksManager.code.loadLibrary(blockTypes);
    blocksManager.code.wrap(document.querySelectorAll('#viewer-root > .block-item'), true)
    Array.from(document.querySelectorAll('.block-item > .inner')).map(function(item,idx) {
      for(var i=0,node;i<item.childNodes.length;i++) {
        node = item.childNodes[i];
        if(!node.classList) continue;
        node.classList.add("ld", "ldt-float-up-in", "paused");
      }
    });

    function transitionIn(e) {
      Array.from(document.querySelectorAll(".block-item > .inner > .paused")).map(function(item) {
        var box = item.getBoundingClientRect();
        if(box.y < window.innerHeight - 10) {
          item.classList.remove("paused");
        }
      });
    }

    window.addEventListener("scroll", transitionIn);
    transitionIn();
