//- view
doctype html
- var thumbnail = (data.attr.thumbnail ? data.attr.thumbnail + '/-/format/jpg/' :  "https://makeweb.io/assets/img/thumbnail.png")
- var thumbtype = "image/jpeg"
- var thumb_width = "1200"
- var thumb_height = "630"
- var favicon = "/assets/img/favicon.png"
- var title = data.attr.title || "makeweb.io - Collaborate Web Editing"
- if(data.attr && data.attr.title) { title = data.attr.title + " · makeweb.io" }
- else { title = "makeweb.io - Collaborate Web Editing" }
- var description = "make web pages in the simple way with makeweb's collaborative visual editor"
html
  include /mixins/index.jade
  head
    include /module/head.jade
    +css("/css/pack/viewer.css")
    +script("/js/pack/viewer.js")
    script.
    +css("/blocks/all.min.css")
    +script("/js/pack/viewer.js")
    +script("/blocks/all.js")
    script.
      var blockTypes = !{'[' + data.child.map(function(it) { return '"' + it.type + '"'; }).join(',') + ']'};
  body
    //- TODO clean html code by DOMPurify ( need to escape special tags )
    #viewer-root.page-viewer(style=(data.style || '') + ';width:auto')
      each block in data.child
        .block-item(id="block-id#{$index}",style="max-width:1024px;width:96%;margin:auto;" + (block.style || ''),
        class="block-" + block.type,base-block=block.type)
          .inner!= block.content
  a#makeweb(href="/"): .inner.ld.ld-bounce #[span Make Your Own Page with] #[img(src="/assets/img/logo.svg")]
  a#edit-this-page(href="./") #[i.fa.fa-edit]#[br]Edit
  if !data.attr || !data.attr.isPublic
    div(style="position:fixed;top:10px;left:50%;transform:translate(-50%,0);font-size:1em;font-weight:900;opacity:0.3;z-index:999;text-align:center;line-height:.75em;padding:10px 20px;background:#000;color:#fff;border-radius:15px") PREVIEW MODE
  script.
    Array.from(document.querySelectorAll('[contenteditable=true]')).map(function(it) {
      it.setAttribute('contenteditable', false);
    });
    blocksManager.code.loadLibrary(blockTypes);
    blocksManager.code.wrap(document.querySelectorAll('#viewer-root > .block-item'), true)
