extends /base.jade
block vars
  - var navInvert = true;
block head
  script.
    UPLOADCARE_PUBLIC_KEY = "99aecfabc8335358700e";
    UPLOADCARE_LOCALE = 'en';
    UPLOADCARE_IMAGES_ONLY = true;
    UPLOADCARE_PREVIEW_STEP = true;
    UPLOADCARE_CLEARABLE = true;
  +script("https://ucarecdn.com/libs/widget/3.x/uploadcare.min.js")
  +css("/css/site/index.css")
  +css("/css/site/dashboard.css")
  +script("/js/profile.js")
  style(type="text/css").
    body {background: #f9fafb }
    nav { width: 1024px}
block body
  .ld-over-full-inverse(ng-controller="profile",ng-class="{'running':loading}")
    img.ld(src="/assets/img/loader/msg.svg",style="width:200px;transform:translate(-50%,-50%)")
    include settings.jade
    include dns-hint.jade
    div(style="background:#444;color:#fff;box-shadow:inset 0 -3px 6px rgba(0,0,0,.2);background-image:url(/assets/img/bk/nw.jpg)"): .inner(style="background:rgba(2,24,35,.7);padding:40px;")
      +nbr(4)
      .block1024
        .profile.media
          .avatar.mr-3(ng-attr-style="width:84px;height:84px;background-image:url({{avatar.value}});")
          .media-body
            h1.mb-0.mt-1.inline-block.align-middle {{user.data.displayname}}
            br
            small.light.inline-block #[span.flcap {{user.data.plan.name || 'Free'}}] Account
            span.comma &nbsp;．&nbsp;
            small.light {{user.data.username}}
            span.comma &nbsp;．&nbsp;
            small: a.light.clickable(ng-click="settings.modal.ctrl.toggle()") #[i.fa.fa-cog] settings
            .btn.btn-sm.btn-primary.ml-3.align-middle(style="padding:0 6px",
            ng-show="!user.data.plan",
            ng-click="subscription.modal.plan.ctrl.toggle()"): small Upgrade

    mixin pagination
      .pull-right.mt-2(ng-show="docs.list.length > 1")
        .btn.btn-sm.btn-outline-primary.mr-2(ng-click="docs.pageAt($index)",
        ng-class="{'active':docs.cur==item}",
        ng-repeat="item in docs.list") {{$index + 1}}
    .block1024
      +nbr(2)
      +pagination()
      h1
        span.mr-4 Pages
        a.btn.btn-outline-primary.btn-sm(href="/page/create") #[i.fa.fa-plus.mr-1] #[span new page]
      +nbr(1)
      .page-list
        .list.head
          //- use .min to minimize state
          .item.state(ng-class="{'min':stateHide}")
            span(ng-show="!stateHide") State
            i.fa.clickable.align-middle(ng-click="stateHide = !!!stateHide",
            ng-class="{'ml-1 fa-chevron-left':!stateHide, 'ml-1 fa-chevron-right':stateHide}")
          .item.thumb Thumb
          .item.title Title
          .pull-right
            .item.owner.text-center Owner
            .item.createdtime.text-center Created Time
            //-.item.revision.text-center Revisions
            .item.action.text-center Action
        .list.ng-animate-on(ng-show="docs.loading")
          .text-center
            img(style="height:30px",src="http://localhost/assets/img/loader/msg-dark.svg")
        .list.ng-animate-on(ng-show="!docs.cur.length && !docs.loading")
          .item.text-center.gray(style="width:100%")
            span You don't have any page yet. 
            a(href="/page/create") Create One Now
            span ?
        .list.ng-animate-on(ng-repeat="doc in docs.cur",ng-click="page.toggle($event, doc)")
          .ctrl.clickable
            //- use .min to minimize state
            .item.state(ng-class="{'min':stateHide}")
              a.badge(target="_blank",ng-attr-href="/page/{{doc.slug}}/view",
              ng-class="{'badge-success': doc.publish, 'badge-secondary': !doc.publish}")
                span(ng-cloak,ng-show="doc.publish")
                  i.fa.fa-check.mr-1
                  span PUBLISHED
                span(ng-show="!doc.publish")
                  i.fa.fa-edit.mr-1
                  span DRAFT
              a.badge(target="_blank",ng-attr-href="/page/{{doc.slug}}",
              ng-class="{'badge-success': doc.privacy<=10 || !doc.privacy, 'badge-secondary': doc.privacy>=30}")
                span(ng-cloak,ng-show="doc.privacy<=10 || !doc.privacy")
                  i.fa.fa-edit.mr-1
                  span EVERYONE
                span(ng-show="doc.privacy>=30")
                  i.fa.fa-lock.mr-1
                  span INVITED
            .item.thumb
              .img(ng-attr-style="background-image:url({{doc.thumbnail || '/assets/img/page/default-thumbnail.jpg'}})")
            .item.title
              a.ml-1(ng-attr-href="/page/{{doc.slug}}/") {{doc.title || 'untitled'}}
            .pull-right
              .item.owner.text-center
                .avatar.mr-1(
                ng-attr-style="width:20px;height:20px;background-image:url(/s/avatar/{{doc.owner}}.png)")
                a(style="vertical-align:middle") {{doc.displayname}}
              .item.createdtime.text-center
                span {{doc.createdtime|nicedatetime}}
              //-.item.revision.text-center.clickable: i.fa.fa-history
              .item.action.text-center
                .dropdown
                  .dropdown-toggle.clickable(data-toggle="dropdown") #[i.fa.fa-ellipsis-h] &nbsp;
                  .dropdown-menu
                    a.dropdown-item.clickable(ng-click="docs.toggle(doc)") #[i.fa.fa-wrench] Settings
                    a.dropdown-item.clickable(ng-show="doc.publish",
                    ng-attr-href="/page/{{doc.slug}}/view") #[i.fa.fa-eye] View
                    a.dropdown-item.clickable(ng-attr-href="/page/{{doc.slug}}/clone/") #[i.fa.fa-clone] Clone
                    a.dropdown-item.clickable(ng-click="page.delete(doc)") #[i.fa.fa-trash] Delete
          .page-detail.ng-animate-on(ng-show="doc.toggled",ng-class="{'disabled':user.data.key != doc.owner}")
            .sep.light.dotted.mb-4
            include /me/page-detail.jade
      +nbr(1)
      +pagination()
      .pull-left(ng-show="docs.cur.length > 10")
        a.btn.btn-outline-primary.btn-sm(href="/page/create") #[i.fa.fa-plus.mr-1] #[span new page]
      +nbr(6)
  include /module/footer.jade
