extends /base.jade
block vars
  - var navInvert = true;
block head
  script.
    UPLOADCARE_PUBLIC_KEY = "99aecfabc8335358700e";
    UPLOADCARE_LOCALE = 'en';
    UPLOADCARE_IMAGES_ONLY = true;
    UPLOADCARE_PREVIEW_STEP = true;
    UPLOADCARE_CLEARABLE = true;
  +script("https://ucarecdn.com/libs/widget/3.x/uploadcare.min.js")
  +css("/css/site/index.css")
  +css("/css/site/dashboard.css")
  +script("/js/profile.js")
  link(href="https://fonts.googleapis.com/css?family=Raleway:400,600,700,900",rel="stylesheet")
  style(type="text/css").
    body {background: #f9fafb; font-family: Raleway}
    nav { width: 1024px}
block body
  .ld-over-full-inverse(ng-controller="profile",ng-class="{'running':loading}")
    img.ld(src="/assets/img/loader/msg.svg",style="width:200px;transform:translate(-50%,-50%)")
    include settings.jade
    div(style="background:#444;color:#fff;box-shadow:inset 0 -3px 6px rgba(0,0,0,.2);background-image:url(/assets/img/bk/nw.jpg)"): .inner(style="background:rgba(2,24,35,.7);padding:40px;")
      +nbr(4)
      .block1024
        .media
          .avatar.mr-3(ng-attr-style="width:84px;height:84px;background-image:url({{avatar.value}});")
          .media-body
            h1.mb-0.mt-1 {{user.data.displayname}}
            small.light {{user.data.username}}
            span &nbsp;．&nbsp;
            small: a.light.clickable(ng-click="settings.modal.ctrl.toggle()") #[i.fa.fa-cog] settings

    mixin pagination
      .pull-right.mt-2(ng-show="doc.list.length > 1")
        .btn.btn-sm.btn-outline-primary.mr-2(ng-click="doc.pageAt($index)",
        ng-class="{'active':doc.cur==item}",
        ng-repeat="item in doc.list") {{$index + 1}}
    .block1024
      +nbr(2)
      +pagination()
      h1
        span.mr-4 Pages
        a.btn.btn-outline-primary.btn-sm(href="/page/create") #[i.fa.fa-plus.mr-1] #[span new page]
      +nbr(1)
      .page-list
        .list.head
          .item.thumb Thumb
          .item.title Title
          .pull-right
            .item.owner.text-center Owner
            .item.createdtime.text-center Created Time
            //-.item.revision.text-center Revisions
            .item.action.text-center Action
        .list.ng-animate-on(ng-show="!doc.cur.length")
          .item.text-center.gray(style="width:100%")
            span You don't have any page yet. 
            a(href="/page/create") Create One Now
            span ?
        .list.ng-animate-on(ng-repeat="doc in doc.cur",ng-click="page.toggle($event, doc)")
          .ctrl.clickable
            .item.thumb
              .img(ng-attr-style="background-image:url({{doc.thumbnail || '/assets/img/page/default-thumbnail.jpg'}})")
            .item.title
              a(ng-attr-href="/page/{{doc.slug}}/") {{doc.title || 'untitled'}}
            .pull-right
              .item.owner.text-center
                .avatar.mr-1(
                ng-attr-style="width:20px;height:20px;background-image:url(/s/avatar/{{doc.owner}}.png)")
                a(style="vertical-align:middle") {{doc.displayname}}
              .item.createdtime.text-center
                span {{doc.createdtime|nicedatetime}}
              //-.item.revision.text-center.clickable: i.fa.fa-history
              .item.action.text-center
                .dropdown
                  .dropdown-toggle.clickable(data-toggle="dropdown") #[i.fa.fa-ellipsis-h] &nbsp;
                  .dropdown-menu
                    a.dropdown-item.clickable(ng-click="doc.toggled = !!!doc.toggled") #[i.fa.fa-wrench] Settings
                    a.dropdown-item.clickable(ng-attr-href="/page/{{doc.slug}}/view") #[i.fa.fa-eye] View
                    a.dropdown-item.clickable(ng-attr-href="/page/{{doc.slug}}/clone/") #[i.fa.fa-clone] Clone
                    a.dropdown-item.clickable(ng-click="page.delete(doc)") #[i.fa.fa-trash] Delete
          .detail.ng-animate-on(ng-show="doc.toggled",ng-class="{'disabled':user.data.key != doc.owner}")
            .sep.light.dotted
            div.mt-4
              .row.mb-2
                .col-sm-3.text-right: label.mt-2 Page Id
                .col-sm-9
                  .btn.btn-link(style="padding-left:0",
                  ng-clipboard,ng-attr-target="#page-id-{{doc.key}}",dir="bottom") {{doc.slug}}]
                  input(ng-attr-id="page-id-{{doc.key}}",ng-model="doc.slug",style="outline:none;border:0;color:rgba(0,0,0,0);opacity:0.01",readonly)
              .row.mb-2
                .col-sm-3.text-right: label.mt-2 Page Title
                .col-sm-9: input.form-control(ng-model="doc.title")
              .row.mb-2
                .col-sm-3.text-right: label.mt-2 Privacy Setting
                .col-sm-9
                  .btn-group
                    .btn.btn-outline-secondary(ng-click="doc.privacy = 10",
                    ng-class="{'active':doc.privacy<=10 || !doc.privacy}") Public Editable #[i.fa.fa-edit]
                    .btn.btn-outline-secondary(ng-click="doc.privacy = 30",
                    ng-class="{'active':doc.privacy>=30}") Private Visible #[i.fa.fa-eye-slash]
              .row.mb-2
                .col-sm-3.text-right
                  label.block Tags
                  small.gray comma separated
                .col-sm-9: input.form-control(ng-model="doc.tags")
              .row.mb-2
                .col-sm-3.text-right: label.mt-2 Thumbnail
                .col-sm-9
                  .btn.btn-outline-secondary.thumbnail(ng-click="page.thumbnail(doc)",
                  ng-attr-style="background-image:" +
                  "url({{doc.thumbnail || '/assets/img/page/default-thumbnail.jpg'}});width:120px;") &nbsp;
                  .btn.btn-link(ng-click="page.thumbnail(doc)",ng-hide="doc.thumbnailLoading") Change
                  .btn.btn-link(ng-hide="!doc.thumbnailLoading"): img(src="/assets/img/loader/msg-dark.svg")
              .row.mb-2
                .col-sm-3.text-right: label.mt-2 URL
                .col-sm-9
                  input.form-control(ng-model="doc.domain",placeholder="Domain Name"
                  style="width:50%;display:inline-block;border-radius:5px 0 0 5px;border-right:0")
                  input.form-control(ng-model="doc.path",placeholder="Page Path"
                  style="width:50%;display:inline-block;border-radius:0 5px 5px 0")
              .row.mb-2
                .col-sm-3.text-right
                  label.block Tracking Code
                  small.gray for Google Analytics
                .col-sm-9: input.form-control(ng-model="doc.gacode",placeholder="UA-XXXXXXXX-X")

              .row.mb-4
                .col-sm-3.text-right
                  label.block Who can acceess?
                  small.gray comma separated
                .col-sm-9
                  .input-group.mb-3
                    input.form-control(placeholder="enter user email here...",ng-model="page.perms.value")
                    .input-group-append
                      .dropdown
                        .btn.btn-outline-secondary.dropdown-toggle(data-toggle="dropdown",
                        style="border-radius:0;border-right:0") {{(page.perms.perm == 30 && 'Edit') || 'View'}}
                        .dropdown-menu
                          .dropdown-item(ng-class="{'active':page.perms.perm != 30}",
                          ng-click="page.perms.perm = 10") View
                          .dropdown-item(ng-class="{'active':page.perms.perm == 30}",
                          ng-click="page.perms.perm = 30") Edit
                      .btn.btn-outline-secondary(ng-click="page.perms.add(doc)") Add
                  .perm-list
                    .perm.btn.btn-sm.btn-outline-primary.mr-1.mt-1(ng-repeat="perm in doc.permlist")
                      .displayname {{perm.displayname}}
                      .username {{perm.username}}
                      i.fa.fa-edit.ml-1(ng-show="perm.perm >= 30")
                      i.fa.fa-eye.ml-1(ng-show="perm.perm < 30")
                      i.fa.fa-minus.ml-1

              .sep.light
              .row.mb-2.mt-4
                .col-sm-3
                .col-sm-9
                  .btn.btn-primary.mr-2(ng-click="page.update(doc)") &nbsp; Save &nbsp; 
                  .btn.btn-outline-secondary.action(ng-click="doc.toggled = false") Close

      +nbr(1)
      +pagination()
      .pull-left(ng-show="doc.cur.length > 10")
        a.btn.btn-outline-primary.btn-sm(href="/page/create") #[i.fa.fa-plus.mr-1] #[span new page]
      +nbr(6)
  include /module/footer.jade
