//- module
.page-detail
  .row.mb-2
    .col-sm-3.caption: label.mt-2 Page Id
    .col-sm-9
      .btn.btn-link(style="padding-left:0",
      ng-clipboard,ng-attr-target="#page-id-{{doc.key}}",dir="bottom") {{doc.slug}}
      input(ng-attr-id="page-id-{{doc.key}}",ng-model="doc.slug",style="outline:none;border:0;color:rgba(0,0,0,0);opacity:0.01",readonly)
  .row.mb-2
    .col-sm-3.caption: label.mt-2 Page Title
    .col-sm-9: input.form-control(ng-model="doc.title")
  .row.mb-2
    .col-sm-3.caption: label.mt-2 Privacy Setting
    .col-sm-9
      .btn-group
        .btn.btn-outline-secondary(ng-click="doc.privacy = 10",
        ng-class="{'active':doc.privacy<=10 || !doc.privacy}") Public Editable #[i.fa.fa-edit]
        .btn.btn-outline-secondary(ng-click="doc.privacy = 30",
        ng-class="{'active':doc.privacy>=30}") Private Visible #[i.fa.fa-eye-slash]
  .row.mb-2
    .col-sm-3.caption
      label.block Tags
      small.gray comma separated
    .col-sm-9: input.form-control(ng-model="doc.tags")
  .row.mb-2
    .col-sm-3.caption: label.mt-2 Thumbnail
    .col-sm-9
      .btn.btn-outline-secondary.thumbnail(ng-click="page.thumbnail(doc)",
      ng-attr-style="background-image:" +
      "url({{doc.thumbnail || '/assets/img/page/default-thumbnail.jpg'}});width:120px;")
        //-div(ng-attr-style="background-image:" + "url({{doc.thumbnail || '/assets/img/page/default-thumbnail.jpg'}})")
        span &nbsp;
      .btn.btn-link(ng-click="page.thumbnail(doc)",ng-hide="doc.thumbnailLoading") Change
      .btn.btn-link(ng-hide="!doc.thumbnailLoading"): img(src="/assets/img/loader/msg-dark.svg")
  .rel
    .abs.row(style="top:0;left:0;right:0;bottom:0",ng-show="doc.plan.name != 'pro'")
      .col-sm-3
      .col-sm-9(ng-attr-style="z-index:9;background:rgba(255,255,255,.7);height:{{(doc.plan && 60) || 100}}%"
      + ";text-align:center;display:table")
        div(style="display:table-cell;vertical-align:middle")
          a.btn.btn-primary.clickable(href="#",
          ng-click="subscription.modal.plan.ctrl.toggle(true)") Subscribe Pro Plan to Unlock This Features
    .row.mb-2
      .col-sm-3.caption
        label.block URL
        small.text-primary.clickable(
        ng-click="dnshint.modal.ctrl.toggle()") #[i.fa.fa-question-circle] how to use?
      .col-sm-9
        input.form-control(ng-model="doc.domain",placeholder="Domain Name",ng-disabled="doc.plan.name != 'pro'",
        style="width:50%;display:inline-block;border-radius:5px 0 0 5px;border-right:0")
        input.form-control(ng-model="doc.path",placeholder="Page Path",ng-disabled="doc.plan.name != 'pro'",
        style="width:50%;display:inline-block;border-radius:0 5px 5px 0")
        a.mt-1.inline-block.small(ng-show="doc.domain"
        ) #[i.fa.fa-external-link] http://{{doc.domain}}/{{doc.path || ''}}
    .row.mb-2
      .col-sm-3.caption
        label.block Tracking Code
        small.gray for Google Analytics
      .col-sm-9
        input.form-control(ng-model="doc.gacode",placeholder="UA-XXXXXXXX-X",
        ng-disabled="doc.plan.name != 'pro'")
    .row.mb-4
      .col-sm-3.caption
        label.block Who can acceess?
        small.gray comma separated
      .col-sm-9
        .input-group.mb-3
          input.form-control(placeholder="enter user email here...",ng-model="page.perms.value",
          ng-disabled="!doc.plan")
          .input-group-append
            .dropdown
              .btn.btn-outline-secondary.dropdown-toggle(data-toggle="dropdown",ng-didsabled="!doc.plan",
              style="border-radius:0;border-right:0") {{(page.perms.perm == 30 && 'Edit') || 'View'}}
              .dropdown-menu
                .dropdown-item(ng-class="{'active':page.perms.perm != 30}",
                ng-click="page.perms.perm = 10") View
                .dropdown-item(ng-class="{'active':page.perms.perm == 30}",
                ng-click="page.perms.perm = 30") Edit
            .btn.btn-outline-secondary(ng-click="page.perms.add(doc)",ng-didsabled="!doc.plan") Add
        .perm-list
          .perm.btn.btn-sm.mr-1.mt-1(ng-repeat="perm in doc.permlist",
          ng-click="page.perms.remove(doc, perm.key)",
          ng-class="{'btn-outline-primary': perm.perm >= 30, 'btn-outline-secondary': perm.perm < 30}")
            .displayname {{perm.displayname}}
            .username {{perm.username}}
            i.fa.fa-edit.ml-1(ng-show="perm.perm >= 30")
            i.fa.fa-eye.ml-1(ng-show="perm.perm < 30")
            i.fa.fa-minus.ml-1

  .sep.light
  .row.mb-2.mt-4
    .col-sm-3
    .col-sm-9
      .btn.btn-primary.mr-2(ng-click="page.update(doc)") &nbsp; Save &nbsp; 
      .btn.btn-outline-secondary.action(ng-click="docs.toggle(doc, false)") Close
